# Install the necessary packages
numpy
matplotlib
scikit-learn
jupyter
tables
torch==2.1.0
torch_geometric
pyg_lib -f https://data.pyg.org/whl/torch-2.1.0+cpu.html
torch_scatter -f https://data.pyg.org/whl/torch-2.1.0+cpu.html
torch_sparse -f https://data.pyg.org/whl/torch-2.1.0+cpu.html
torch_cluster -f https://data.pyg.org/whl/torch-2.1.0+cpu.html 
torch_spline_conv -f https://data.pyg.org/whl/torch-2.1.0+cpu.html
pytorch-lightning
urllib3==1.26.6

torchmetrics
sparticles @ git+https://github.com/jd550179/sparticles.git
